<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
  <h3>
    <a href="#/todo">Todo</a>
    <a href="#/trs">trs</a>
    <a href="#/tips">tips</a>
    <a href="#/renren1">renren1</a>
    <a href="#/renren2">renren2</a>
    <a href="#/width">width</a>
  </h3>
</div>
