<div class="aa">
  这是内容
</div>
<span class="nn"></span>

<style type="text/css">
  * {margin: 0;padding: 0;}
  body {position: relative;}
  .aa {width: 100px;height: 100px; border: 10px solid #f00;margin: 10px;padding: 10px;}
  .aa {position: absolute;}
  .nn {position: fixed;}
</style>
